/* style.scss */

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.produto {
    margin: 20px;
}

.produto h2 {
    font-size: 24px;
}

/* Estilos do carrossel */
.carousel {
    width: 20%; /* Definindo a largura do carrossel */
    max-width: 200px; /* Definindo uma largura máxima */
    margin: 20px auto;
    overflow: hidden; /* Ocultando imagens fora da área visível */
    position: relative;
}

.carousel-images {
    display: flex; /* Colocando as imagens em linha */
    transition: transform 3s ease-in-out; /* Adicionando uma transição suave */
}

.carousel img {
    width: 20%; /* A imagem vai ocupar 100% da largura do contêiner */
    height: auto; /* Mantendo a proporção da imagem */
    max-height: 100px; /* Limite para a altura das imagens */
    object-fit: cover; /* Fazendo com que a imagem cubra o espaço sem distorcer */
    border-radius: 8px;
}

/* Estilos dos botões de navegação */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
